# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment variables
.env

# Generated JSON files
schedule_maker/static/output.json
data/pending
db.json
# Flask session/instance
instance/

test.py
db_backups